@import '../../../../global.scss' ;

.autogenerado {
    padding: 15px;

    & h2 {
        font-size: 20px;
        margin: 0;
    }

    & .header {
        padding: 15px;
    }

    & .ion-icon {
        color: $color-principal;
        font-size: 20px;
        margin-right: 20px;
    }

    & .mat-icon {
        display: flex !important;
        align-items: center !important;
    }
}