<ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>Nuevo Plan Nutricional</ion-title>
        </ion-toolbar>
</ion-header>
<ion-content fullscreen class="autogenerado">
    <h5 class="header" style="padding: 5px; margin: 5px; font-size: 20px; text-align: center;"> Planes Autogenerados</h5>
    <mat-list *ngFor="let plan of planes">
            <mat-list-item style="height: 5%;">
                <mat-icon mat-list-icon>
                        <ion-icon ios="ios-nutrition" md="md-nutrition" ></ion-icon>
                </mat-icon>
                <h4 mat-line>{{plan.descripcion}}</h4>
                <mat-icon [matMenuTriggerFor]="belowMenu">
                    <ion-icon ios="ios-more" md="md-more"></ion-icon>
                </mat-icon>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="confirmarPlanPredeterminado(plan)">Crear plan</button>
                    <button mat-menu-item (click)="verDetalle(plan)">Ver detalle</button>                    
                </mat-menu>
            </mat-list-item>
    </mat-list>
    <ion-button (click)="volver()" color="success" fill="solid" class="condiciones__confirmar" expand="block">Volver</ion-button>
</ion-content>
