<mat-accordion class="mi-plan-dia">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="mi-plan__titulo">
        {{dia.descripcion}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mi-plan__dia" *ngFor="let menu of dia.menues">
      <div *ngIf="menu.alimentos.length">
        <h5>{{menu.nombre}}</h5>
        <ul>
          <li *ngFor="let alimento of menu.alimentos">{{alimento.alimento.nombre}}</li>
        </ul>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>