@import "~global.scss";

.mi-plan {
    color: #666;

    &__titulo {
        color: $color-principal;
        font-size: 18px;
    }

    &__dia {
        & h5 {
            border-bottom: 1px solid #f57c00;
            display: inline-flex;
            color: #666;
            align-items: center;

            & span {
                margin-left: 15px;
                margin-top: 5px;
            }
        }

        & .add-icon {
            font-size: 22px;
        }

        & li {
            display: flex;
            align-items: center;

            & h6 {
                display: inline-block;
                margin: 5px 25px 5px 0;
            }

            & .remove-icon {
                font-size: 22px;
            }
        }


        & .borrar {
            font-weight: bold;
            text-transform: lowercase;
            margin-left: 15px;
            font-size: 16px;
        }

        & .agregar {

        }
    }
}