<ion-icon (click)="close()" class="close" ios="ios-close" md="md-close"></ion-icon>
<h5 mat-dialog-title>{{ plan.descripcion }}</h5>
<mat-dialog-content>
<div *ngFor="let entrenamiento of plan.entrenamientos">
  <mat-card *ngIf="entrenamiento.ejercicios.length">
    <div class="mi-plan__dia" *ngFor="let ejercicio of entrenamiento.ejercicios">
    <h5 class="nombreEjercicio">{{ejercicio.ejercicio.descripcion}}</h5>
    <!-- <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <!-- <div class="list-elem">
          <h6 class="tipo">{{ejercicio.ejercicio.descripcion}}</h6>
        </div> -->

        <div class="list-elem grupo_muscular">
          <h6 class="tipo">Grupo muscular:&nbsp;</h6>
          <span class="descripcionGrupo">{{ejercicio.ejercicio.grupoMuscular}}</span>
        </div>
        <div class="info">
          <div class="list-elem">
            <span class="descripcion">{{ejercicio.series}}</span>
            <h6 class="tipo">Series</h6>
          </div>
      
          <div class="list-elem-repeticiones" *ngIf="ejercicio.duracion == 0">
            <span class="descripcion">{{ejercicio.repeticiones}}</span>
            <h6 class="tipo">Repeticiones</h6>
          </div>
      
          <div class="list-elem" *ngIf="ejercicio.duracion == 0">
            <span class="descripcion">{{ejercicio.peso}} Kg</span>
            <h6 class="tipo">Peso</h6>
          </div>
  
          <div class="list-elem-duracion" *ngIf="ejercicio.duracion > 0">
            <span class="descripcion">{{ejercicio.duracion}}</span>
            <h6 class="tipo">Duración (Minutos) </h6>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-button (click)="close()" color="success" fill="solid" expand="block">Cerrar</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <button mat-button (click)="activar()">Activar</button> -->
  <!-- <button mat-button>Editar</button> -->
  <!--button mat-button (click)="activar()">Activar</button-->
</mat-dialog-actions>