@import '../../moduloDeportivo/md-entrenamiento-card/md-entrenamiento-card.component.scss'; 
.nombreEjercicio{
    font-size: 18px;
    font-weight: bold;
}
.mat-dialog-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;
}
.mat-card{
    padding: 0px;
}