@import '../../../global.scss';

.estadisticas {
    padding: 10px;
    color: #666;

    .seccion {
        margin-bottom: 20px;
        margin-top: 15px;
        text-align: center;

        & .graph {
            display: inline-block;

            @media screen and (min-width: 600px) {
                width: 400px; 
                height: 200px;
            }
        }

        &.cumplidos {
            width: 50%;
            display: inline-block;
            text-align: center;

            & h4 {
                font-size: 20px;
                padding: 0 25px;
            }
        }

        & .titulo {
            color: #666;
            font-size: bold;
            text-align: center;
        }

        & .calorias {
            margin: 30px 0;

            &.diario {
                h2 {
                    text-align: center;
                }
            }

            & .consumidas {
                color: $color_cancelar;
                text-align: center;
            }

            & .gastadas {
                color: $color_aceptar;
                text-align: center;
            }
        }

        & .totales {
            justify-content: center;
            color: #666;

            & h2 {
                margin: 0;
            }

            .fa-check-circle {
                font-size: 35px;
                margin-left: 25px;
            }
        }

        & .objetivo {
            justify-content: center;
        }

        & .porcentaje {
            justify-content: center;
            margin: 20px 0;

            &.alto {
                color: $color_aceptar;
            }

            &.bajo {
                color: $color_cancelar;
            }
        }
    }
}