<ion-header>
    <ion-toolbar>
        <ion-title>Estadísticas</ion-title>
        <ion-buttons slot="start">
            <ion-title>
                <ion-menu-button autoHide="true"></ion-menu-button>
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="datosCargados || (esProfesor && !alumnoSelected)" class="estadisticas">
        <div *ngIf="!esProfesor" class="seccion">
            <h5 class="titulo">Resumen Diario</h5>
            <div class="calorias diario flex center around">
                <div class="tipo consumidas">
                    <h2>{{ estadisticas.caloriasIngeridasDiarias }}</h2>
                    <p style="text-align: center;">Ingeridas</p>
                </div>
                <div class="gastadas tipo">
                    <h2>{{ estadisticas.caloriasConsumidasDiarias }}</h2>
                    <p style="text-align: center;">Gastadas</p>
                </div>
            </div>
            <!-- <div class="totales flex center">
                <h5>Total diario: {{ estadisticas.caloriasConsumidasDiarias - estadisticas.caloriasIngeridasDiarias }} calorias</h5>
                < <i class="far fa-check-circle"></i>>
            </div> -->
            <div class="objetivo flex">
                <!-- <h6>(Objetivo: 1000 cal)</h6> -->
            </div>
        </div>
        <mat-divider></mat-divider>
        <!--div *ngIf="esProfesor && !alumnos.length" class="seccion" > No posee alumnos activos. </div-->
        <h5 *ngIf="esProfesor && !poseeAlumnos()" style="text-align: center; margin-top: 5px;">No posee alumnos activos.</h5>
        <div *ngIf="esProfesor && poseeAlumnos()" class="seccion" >
            <mat-form-field style="width: 75%; display: block; margin: 0 auto;">
                <mat-label *ngIf="!alumnoSelected">Elegir alumno</mat-label>
                <mat-label *ngIf="alumnoSelected">{{ alumno.nombre }} {{ alumno.apellido }}</mat-label>
                <mat-select>
                    <!-- <mat-option>None</mat-option> -->
                    <!-- <mat-option value="option1">Diario</mat-option> -->
                    <!-- <mat-option (click)="selectEjercicio(option)" *ngFor="let option of filteredOptions" [value]="option.descripcion">
                        {{option.descripcion}}
                    </mat-option> -->
                    <mat-option (click)="selectAlumno(alumno)" *ngFor="let alumno of alumnos">{{alumno.nombre}} {{alumno.apellido}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="seccion" *ngIf="esProfesor && poseeAlumnos() || !esProfesor">
            <!-- <h5>Período</h5> -->
            <mat-form-field style="width: 75%; display: block; margin: 0 auto;">
                <mat-label *ngIf="periodoSeleccionado">{{ periodoSeleccionado.value }}</mat-label>
                <mat-select>
                    <!-- <mat-option>None</mat-option> -->
                    <!-- <mat-option value="option1">Diario</mat-option> -->
                    <mat-option (click)="cambiarPeriodo(1, 'Semanal')" value="option2">Semanal</mat-option>
                    <mat-option (click)="cambiarPeriodo(4, 'Mensual')">Mensual</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="!esProfesor" class="seccion">
            <h5 class="titulo">Resumen Calórico</h5>
            <div class="calorias flex center around">
                <div class="tipo consumidas">
                    <h2>{{ estadisticas.caloriasIngeridas | number : '1.2-2' }}</h2>
                    <p style="text-align: center;">Ingeridas</p>
                </div>
                <div class="gastadas tipo">
                    <h2>{{ estadisticas.caloriasConsumidas | number : '1.2-2' }}</h2>
                    <p style="text-align: center;">Gastadas</p>
                </div>
            </div>
            <div class="totales flex center">
                <h5>Total: {{ (estadisticas.caloriasIngeridas - estadisticas.caloriasConsumidas) | number : '1.2-2' }} calorías</h5>
                <!-- <i class="far fa-check-circle"></i> -->
            </div>
            <div class="objetivo flex">
                <!-- <h6>(Objetivo: 1000 cal)</h6> -->
            </div>
        </div>
        <mat-divider *ngIf="estadisticas.menuesCumplidos != null && estadisticas.menuesCumplidos != '' && estadisticas.menuesCumplidos != 0 && !esProfesor"></mat-divider>
        <div *ngIf="estadisticas.menuesCumplidos != null && estadisticas.menuesCumplidos != '' && estadisticas.menuesCumplidos != 0 && !esProfesor" class="seccion">
            <h5 class="titulo">Planes Nutricionales cumplidas</h5>
            <div class="flex porcentaje alto">
                <h1>{{ estadisticas.menuesCumplidos | number : '1.0-0' }} %</h1>
            </div>
        </div>
        <mat-divider *ngIf="estadisticas.entrenamientosCumplidos != null && estadisticas.entrenamientosCumplidos != '' && estadisticas.entrenamientosCumplidos != 0"></mat-divider>
        <div *ngIf="estadisticas.entrenamientosCumplidos != null && estadisticas.entrenamientosCumplidos != '' && estadisticas.entrenamientosCumplidos != 0" class="seccion">
            <h5 class="titulo">Entrenamientos cumplidos</h5>
            <div class="flex porcentaje bajo">
                <h1>{{ estadisticas.entrenamientosCumplidos | number : '1.0-0' }} %</h1>
            </div>
        </div>
        <mat-divider *ngIf="datasetGruposMusculares[0].data.length > 0"></mat-divider>
        <div *ngIf="datasetGruposMusculares[0].data.length > 0" class="seccion">
            <h5 class="titulo">Grupos musculares</h5>
            <div class="graph">
                <canvas baseChart [chartType]="chartTypeGruposMusculares" [datasets]="datasetGruposMusculares" [labels]="labelsGruposMusculares"
                    [colors]="colorsGruposMusculares" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <mat-divider *ngIf="datasetEjercicios[0].data.length > 0"></mat-divider>
        <div *ngIf="datasetEjercicios[0].data.length > 0" class="seccion">
            <h5 class="titulo">Tipos de ejercitación</h5>
            <div class="graph" >
                <canvas baseChart [chartType]="chartTypeEjercicios" [datasets]="datasetEjercicios" [labels]="labelsEjercicios"
                    [colors]="colorsEjercicios" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <mat-divider *ngIf="datasetNutrientes[0].data.length > 0 && !esProfesor"></mat-divider>
        <div *ngIf="datasetNutrientes[0].data.length > 0 && !esProfesor" class="seccion">
            <h5 class="titulo">Nutrientes</h5>
            <div class="graph" >
                <canvas baseChart [chartType]="chartTypeNutrientes" [datasets]="datasetNutrientes" [labels]="labelsNutrientes"
                    [colors]="colorsNutrientes" [options]="pieOptions" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
    <div *ngIf="(!datosCargados && !esProfesor) || (alumnoSelected && esProfesor && !datosCargados)" class="estadisticas">
        <h6>Obteniendo estad&iacute;sticas</h6>
    </div>
</ion-content>
