<div mat-dialog-content>
  <h5 style="text-align: center;">{{ texto }}</h5>
</div>
<div mat-dialog-actions>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button (click)="cancelar()" color="success" fill="solid" expand="block">Cancelar</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="confirmar()" color="success" fill="solid" expand="block">Confirmar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>

