<div class="mi-plan__dia">
  <div class="list-elem">
    <p class="close">
      <ion-icon (click)="close()" class="close" ios="ios-close" md="md-close"></ion-icon>
    </p>
  </div>
  <div class="list-elem">
    <h6 class="tipo">{{ejercicio.ejercicio.descripcion}}</h6>
  </div>

  <div class="list-elem grupo_muscular">
    <h6 class="tipo">Grupo muscular:&nbsp;</h6>
    <span class="descripcionGrupo">{{ejercicio.ejercicio.grupoMuscular}}</span>
  </div>
  <div class="info">
    <div class="list-elem">
      <span class="descripcion">{{ejercicio.series}}</span>
      <h6 class="tipo">Series</h6>
    </div>

    <div class="list-elem-repeticiones" *ngIf="ejercicio.duracion == 0">
      <span class="descripcion">{{ejercicio.repeticiones}}</span>
      <h6 class="tipo">Repeticiones</h6>
    </div>

    <div class="list-elem" *ngIf="ejercicio.duracion == 0">
      <span class="descripcion">{{ejercicio.peso}} Kg</span>
      <h6 class="tipo">Peso</h6>
    </div>

    <div class="list-elem-duracion" *ngIf="ejercicio.duracion > 0">
        <span class="descripcion">{{ejercicio.duracion}}</span>
        <h6 class="tipo">Duración (Minutos) </h6>
    </div>
  </div>

  <!-- <div ng-if="../../assets/ejercicios/{{ejercicio.ejercicio.id}}.mp4"> -->
  <div class="video" *ngIf="disponible">
    <mat-video [autoplay]="true" [fullscreen]="false" [muted]="true" [loop]="true" [src]="rutaVideo"></mat-video>
  </div>
  <h6 class="video" *ngIf="!disponible">
    Video no disponible.
  </h6>

</div>