<ion-header>
    <ion-toolbar>
        <ion-title>Entrenamientos</ion-title>
        <ion-buttons slot="start">
            <ion-title>
                <ion-menu-button autoHide="true"></ion-menu-button>
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
<mat-tab-group class="tabs" mat-align-tabs="center">
    <mat-tab *ngIf="user.rol !== 3" label="Diario">
        <!-- <app-mn-diario (cambiarATab)="crearNuevoPlanSelected($event)"></app-mn-diario> -->
        <app-md-diario></app-md-diario>
    </mat-tab>
    <mat-tab label="Mis planes">
        <app-md-planes class="mis-planes"></app-md-planes>
        <!-- <app-mn-mi-plan></app-mn-mi-plan> -->
    </mat-tab>
    <mat-tab label="Historial">
        <!-- <app-mn-planes-historial></app-mn-planes-historial> -->
        <app-md-historial></app-md-historial>
    </mat-tab>
    <mat-tab *ngIf="user.rol !== 3" label="Profesores">
        <app-profesores-tab></app-profesores-tab>
    </mat-tab>
    <mat-tab *ngIf="user.rol === 3" label="Alumnos">
        <app-alumnos-tab></app-alumnos-tab>
    </mat-tab>
</mat-tab-group>
<!-- <ion-content> -->
