@import '../../moduloNutricional/mn-diario/mn-diario.component.scss';
@import '../md-entrenamiento-card/md-entrenamiento-card.component.scss';
@import '../../moduloNutricional/mn-comida-card/mn-comida-card.component.scss';
@import '../md-planes/md-planes.component.scss';
@import '../../../global.scss';

.diario.deportivo {
    background-color: #fff;
    padding: 0;

    .comida-card {
        display: none;

        &.desplegado {
            display: block;

            @media screen and (min-width: 500px){
                margin-right: 20px;
            }
        }

        &.realizado {
            // background-color: $color_aceptar;
            background-color: #ccff90;
            color: #1b5e20;
            border: 1px solid #1b5e20;
        }
    }

    .dia__card {
        @media screen and (min-width: 500px){
            display: flex;
            align-items: flex-start;
            padding: 0 15px;
        }
    }
}