<div class="diario deportivo mi-plan">

    <div (click)="toggleVisible('realizados')" class="plan-desplegable">
        <i class="material-icons" [ngClass]="{ desplegado : visible.realizados}">keyboard_arrow_right</i>
        <h5>Entrenamientos realizados</h5>
    </div>

    <div *ngIf="entrenamientos.entrenamientosRealizadosDelDia.length == 0 && visible.realizados">
        <h6>A&uacute;n no realizaste un entrenamiento.</h6>
    </div>

    <div class="dia__card" *ngIf="entrenamientos.entrenamientosRealizadosDelDia.length > 0">
        <mat-card [ngClass]="{ desplegado : visible.realizados}" *ngFor="let entrenamiento of entrenamientos.entrenamientosRealizadosDelDia" class="comida-card realizado">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i ion-icon class="fas fa-dumbbell"></i>
                </div>
                <mat-card-title>{{ entrenamiento.nombre }}</mat-card-title>
                <ion-icon class="close" ios="ios-close" md="md-close"></ion-icon>
            </mat-card-header>
            <mat-card-content class="comida-card__contenido">
                <h3 class="comida-card__contenido vacia" matLine *ngIf="entrenamiento.ejercicios.length == 0">No tiene
                    ejercicios en este entrenamiento</h3>
                <mat-list>
                    <mat-list-item *ngFor="let ejercicio of entrenamiento.ejercicios, let i = index">
                        <h3 (click)="verDetalleEjercicio(ejercicio)" matLine>{{ ejercicio.ejercicio.descripcion }}</h3>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div (click)="toggleVisible('noRealizados')" class="plan-desplegable">
        <i class="material-icons" [ngClass]="{ desplegado : visible.noRealizados}">keyboard_arrow_right</i>
        <h5>Entrenamientos del d&iacute;a</h5>
    </div>

    <div *ngIf="entrenamientos.entrenamientosDelDia.length == 0 && visible.noRealizados">
        <h6>No tenés entrenamientos para realizar.</h6>
    </div>

    <div class="dia__card" *ngIf="entrenamientos.entrenamientosDelDia.length > 0">
        <mat-card [ngClass]="{ desplegado : visible.noRealizados}" *ngFor="let entrenamiento of entrenamientos.entrenamientosDelDia" class="comida-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i ion-icon class="fas fa-dumbbell"></i>
                </div>
                <mat-card-title style="text-align: left;">{{ entrenamiento.nombre }}</mat-card-title>
                <ion-icon class="close" ios="ios-close" md="md-close"></ion-icon>
            </mat-card-header>
            <mat-card-content class="comida-card__contenido">
                <h3 class="comida-card__contenido vacia" matLine *ngIf="entrenamiento.ejercicios.length == 0">No tiene
                    ejercicios en este entrenamiento</h3>
                <mat-list>
                    <mat-list-item *ngFor="let ejercicio of entrenamiento.ejercicios, let i = index">
                        <h3 (click)="verDetalleEjercicio(ejercicio)" matLine>{{ ejercicio.ejercicio.descripcion }}</h3>
                        <ion-icon (click)="entrenamiento.ejercicios.splice(i, 1); entrenamiento.modificado = true" class="comida-card__contenido borrar"
                            ios="ios-close" md="md-close"></ion-icon>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions class="comida-card__actions">
                <p class="pregunta">¿Realizaste este entrenamiento?</p>
                <div class="button">
                    <button mat-button>
                        <ion-icon (click)="agregarEjercicio(entrenamiento)" class="add" ios="ios-add" md="md-add">
                        </ion-icon>
                    </button>
                    <button mat-button>
                        <ion-icon (click)="openConfirmarEntrenamiento(entrenamiento)" class="check" ios="ios-checkmark" md="md-checkmark">
                        </ion-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>