<ion-header>
    <ion-toolbar>
        <ion-title>Nutrición</ion-title>
        <ion-buttons slot="start">
            <ion-title>
                <ion-menu-button autoHide="true"></ion-menu-button>
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<mat-tab-group class="tabs" [(selectedIndex)]="selected.value" mat-align-tabs="center">
    <mat-tab label="Diario">
        <app-mn-diario (cambiarATab)="crearNuevoPlanSelected($event)"></app-mn-diario>
    </mat-tab>
    <mat-tab label="Mi plan">
        <app-mn-mi-plan></app-mn-mi-plan>
    </mat-tab>
    <mat-tab label="Historial">
        <app-mn-planes-historial></app-mn-planes-historial>
    </mat-tab>
</mat-tab-group>
