<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<h1 mat-dialog-title>Agregar alimento</h1>
<div mat-dialog-content>
    <p>Ingresar el alimento deseado</p>
    <form class="example-form">
        <mat-form-field class="full-width">
            <input type="text" placeholder="Alimento" aria-label="Number" matInput [formControl]="alimentoForm" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option class="autocomplete-textbox"(click)="selectAlimento(option)" *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                    {{option.nombre}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <p *ngIf="invalidAlimentoForm" class="text-danger">Seleccione un alimento válido</p>
        <mat-form-field class="full-width">
            <input [formControl]="cantidadForm" type="number" placeholder="Porciones" aria-label="Number" matInput>
        </mat-form-field>
        <div class="form-control-feedback">
                <p *ngIf="alimento" class="tamanioporcion">*Tamaño porción: {{alimento.alimento.descripcion}}</p>
        </div>
        <div class="form-control-feedback">
          <p *ngIf="invalidCantidadForm && cantidadForm.invalid" class="text-danger">Ingrese un número válido</p>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <ion-grid>
            <ion-row>
                    <ion-col size="6">
                            <ion-button (click)="onNoClick()" color="success" fill="solid" class="agregaralimento__cancelar" expand="block">Cancelar</ion-button>
                    </ion-col>
                    <ion-col size="6">
                            <ion-button cdkFocusInitial (click)="agregar()" color="success" fill="solid" class="agregaralimento__aceptar" expand="block">Aceptar</ion-button>
                    </ion-col>
            </ion-row>
        </ion-grid>
</div>
