<div class="historial" *ngIf="planes.length > 0">
    <mat-list class="lista" *ngFor="let plan of planes">
        <mat-list-item>
            <mat-icon mat-list-icon>
                <ion-icon name="md-football"></ion-icon>
            </mat-icon>
            <h4 mat-line>{{ plan.planDeportivo.descripcion }}</h4>
            <mat-icon [matMenuTriggerFor]="belowMenu">
                <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </mat-icon>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="verDetalle(plan)">Ver detalle</button>
                <button *ngIf="esCliente()"  mat-menu-item (click)="activar(plan)">Activar</button>
                <button *ngIf="esCliente()"  mat-menu-item (click)="desactivar(plan)">Desactivar</button>
                <button mat-menu-item (click)="eliminar(plan)">Eliminar</button>
            </mat-menu>
            <p mat-line>Fecha de creaci&oacute;n: {{ plan.fechaAlta | date : 'dd-MM-yyyy' }}</p>
            <p mat-line>Estado: {{this.estadoPlan(plan)}} </p>
        </mat-list-item>
    </mat-list>
</div>
<h5 *ngIf="planes.length == 0" style="text-align: center;">
    No tenés planes en el historial. Creá uno desde la pestaña <b>'Mis planes'</b>.
</h5>