.condiciones {
    overflow: scroll;

    &__input {
        @media screen and (min-width: 500px){
            width: calc(50% - 15px);
            display: inline-block;
            margin-right: 15px;
        }
    }

    div.condiciones__alimentacion {
        @media screen and (min-width: 500px){
            display: inline-block;
            float: left;
            width: 50%;
        }
    }
}

ion-title{
    padding: 2px;
}
.condiciones__titulo, .condiciones__anteriores{
    text-align: center;
}

mat-form-field {
    width: 70%;
}