<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Condiciones de la Persona</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="condiciones">
      <h4 class="condiciones__titulo" style="font-size:110%">Para activar NutriSchool debe completar la siguiente informaci&oacute;n</h4>

      <ion-item class="condiciones__input">
          <ion-label position="floating">Altura (en cent&iacute;metros)</ion-label>
          <ion-input [(ngModel)]="altura" type="number"></ion-input>
      </ion-item>

      <ion-item class="condiciones__input">
          <ion-label position="floating">Peso (en kilogramos)</ion-label>
          <ion-input [(ngModel)]="peso" type="number"></ion-input>
      </ion-item>

      <p class="condiciones__anteriores" style="margin:7px; font-size: 95%;">
        A continuación indique su tipo de Nutrición, Objetivo a cumplir y Patologías (en caso de poseer alguna de las listadas)
      </p>


      <div class="condiciones__alimentacion">
        <h5 class="condiciones__ejercicio--descripcion">Nutrición</h5>
        <mat-list-item class="condiciones__alimentacion">
          <mat-form-field class="condiciones__alimentacion--tipo">
          <mat-label>Tipo</mat-label>
            <mat-select  [(ngModel)]="alimentacion" (selectionChange)="cambiarAlimentacion($event.value)">
              <mat-option [value]="12">Omn&iacute;vora</mat-option>
              <mat-option [value]="4">Vegetariana</mat-option>
              <mat-option [value]="5">Vegana</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </div>

      <div class="condiciones__objetivo">
        <h5 class="condiciones__objetivo--descripcion">Objetivo</h5>
        <mat-list-item class="condiciones__objetivo">
          <mat-form-field class="condiciones__objetivo--tipo">
          <mat-label>Tipo</mat-label>
            <mat-select  [(ngModel)]="objetivo" (selectionChange)="cambiarObjetivo($event.value)">
              <mat-option [value]="8">Disminución de Peso</mat-option>
              <mat-option [value]="10">Mantención de Peso</mat-option>
              <mat-option [value]="11">Aumento de Peso</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </div>

      <ion-grid class="condiciones__grid">
          <ion-row *ngFor="let patologia of patologias">
              <ion-col class="condiciones__grid--descripcion" size="6">
                  {{ patologia.descripcion }}
              </ion-col>
              <ion-col class="condiciones__grid--value" size="6">
                  <ion-checkbox [(ngModel)]="patologia.checked">
                  </ion-checkbox>
              </ion-col>
          </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-button (click)="volver()" color="success" fill="solid" class="condiciones__confirmar" expand="block">Volver</ion-button>
          </ion-col>
          <ion-col >
            <ion-button (click)="enviar()" color="success" fill="solid" class="condiciones__confirmar" expand="block">Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
