<mat-accordion class="mi-plan-dia ejercicios">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="mi-plan__titulo">
        {{entrenamiento.nombre}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mi-plan__dia" *ngFor="let ejercicio of entrenamiento.ejercicios, let i = index">
      <div>
        <div class="list-elem">
          <h6 class="tipo">{{ejercicio.ejercicio.descripcion}}</h6>
        </div>

        <div class="list-elem grupo_muscular">
          <h6 class="tipo">Grupo muscular:&nbsp;</h6>
          <span class="descripcionGrupo">{{ejercicio.ejercicio.grupoMuscular}}</span>
        </div>
        <div class="info">
          <div class="list-elem" *ngIf="ejercicio.duracion == 0">
            <span class="descripcion">{{ejercicio.series}}</span>
            <h6 class="tipo">Series</h6>
          </div>
        
          <div class="list-elem-repeticiones" *ngIf="ejercicio.duracion == 0">
            <span class="descripcion">{{ejercicio.repeticiones}}</span>
            <h6 class="tipo">Repeticiones</h6>
          </div>
        
          <div class="list-elem" *ngIf="ejercicio.duracion == 0">
            <span class="descripcion">{{ejercicio.peso}} Kg</span>
            <h6 class="tipo">Peso</h6>
          </div>

          <div class="list-elem" *ngIf="ejercicio.duracion > 0">
              <span class="descripcion" style="font-size: 20px;">{{ejercicio.duracion}}</span>
              <h6 class="tipo">Duracion (Minutos)</h6>
          </div>

        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>