@import "~global.scss";
@import "../../moduloNutricional/mn-comida-card/mn-comida-card.component.scss";

.list-elem {

    &.grupo_muscular {
        display: flex;
    }

    .tipo {
        font-size: 18px;
        font-weight: bold;
        color: #666;
    }

    .descripcion, .descripcionGrupo {
        font-size: 18px;
        font-weight: 400;
    }

    .descripcionGrupo{
        margin-left: 10px;
        text-align: center;              
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .list-elem, .list-elem-repeticiones, .list-elem-duracion{
        text-align: center;

        .descripcion {
            color: $color-principal;
        }

        .tipo {
            font-weight: 100;
            font-size: 16px;
            color: #666;
        }
    }
    .list-elem-repeticiones {
        width: calc(100% / 2);
        .descripcion {
            font-size: 20px;
        }
    }
    
    .list-elem-duracion{
        width: calc(100% / 2);
        .descripcion {
            font-size: 22px;
        }
    }

    .list-elem{
        width: calc(100% / 4);
        .descripcion {
            font-size: 22px;
        }
    }
}

.mi-plan__dia {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-principal; 
    align-items: center;

    &:last-of-type {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px solid $color-principal; 
    }
}
.mi-plan__titulo{
    font-weight: bold;
    font-size: 15px;
}

.comida-card__actions.mat-card-actions .pregunta {
    text-align: left;
}

.comida-card__actions.mat-card-actions .button {
display: flex;
align-items: center;
justify-content: space-around;
}