<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Nuevo Plan Nutricional</ion-title>
    </ion-toolbar>
</ion-header>

<div class="nuevo-plan">
  <mat-accordion>
      <div *ngIf="plan">
          <mat-expansion-panel *ngFor="let dia of plan.planNutricional.dias">
            <mat-expansion-panel-header>
              <mat-panel-title class="mi-plan__titulo"> 
                  {{dia.descripcion}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mi-plan__dia" *ngFor="let menu of dia.menues">
            <h5>
              {{menu.nombre}}
            <span class="agregar">
                <ion-icon (click)="agregarAlimento(menu)" class="add-icon" name="add-circle-outline"></ion-icon>
            </span>
          </h5>
          <ul>
              <li *ngFor="let alimento of menu.alimentos">{{alimento.alimento.nombre}}
                <span class="alimento_porcion" *ngIf="alimento.cantidad > 1">({{ alimento.cantidad }} porciones)</span>
                <span class="alimento_porcion" *ngIf="alimento.cantidad == 1">(una porci&oacute;n)</span>
                <span class="agregar">
                  <ion-icon (click)="quitarAlimento(alimento, menu)" class="remove-icon" name="remove-circle-outline"></ion-icon>
                </span>
              
              </li>

          </ul>
        </div>
  
      </mat-expansion-panel>
      </div>
  </mat-accordion>
  <ion-button cdkFocusInitial (click)="crearNuevoPlan()" color="success" fill="solid" class="nuevo-plan__button" expand="block">Crear Plan</ion-button>
</div>
