.nuevo-plan{
  top: 66px;
  position: fixed;
  padding: 10px;
  right: 10px;
  left: 10px;

  &__button {
    position: absolute;
    right: 0px;
    margin: 11px;
  }
}

.agregar{
  padding: 3px;
}

.alimento_porcion {
  display: inline-block;
}
