@import '../../global.scss';

ion-title{
    //color: $color-principal;
}

ion-icon{
    color: $color-principal;
    margin: 12px 15px 12px 0;
}


.card-content-md{
    font-size: 16px;
    color: black;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    padding: 2px;
    margin-top: 13px;
    margin-left: 5px;
    font-size: 18px;
    color: $color-principal;

}