<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Sugerencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="dashboard" *ngIf="sugerencias">
    <ion-card *ngFor="let sugerencia of sugerencias" class="dashboard__card nutricional">
      <ion-item>
        <ion-icon ios="ios-bulb" md="md-bulb"></ion-icon>
        <ion-label *ngIf="sugerencia.tipo == 'N'">Nutrición</ion-label>
        <ion-label *ngIf="sugerencia.tipo == 'D'">Deporte</ion-label>
        <ion-label *ngIf="sugerencia.tipo == 'N,D'">General</ion-label>
      </ion-item>
      <ion-card-content>
        {{sugerencia.descripcion}}
      </ion-card-content>
    </ion-card>
  </div>
  <div class="diario" *ngIf="!sugerencias.length">
    No se encontraron sugerencias
  </div>
</ion-content>
