.registro {
    text-align: center;
    padding: 5px;
    background-color: #f5f5f5;
    padding-bottom: 20px;
    overflow: auto;

    img {
        height: 50px;
    }

    h5 {
        text-align: left;
        margin-left: 10px;
        color: #666;
    }

    .registro__input {
        margin-bottom: 5px;

        @media screen and (min-width: 500px){
            width: 46%;
            display: inline-block;
            margin-right: 2%;
        }
    }

    .registro__volver{
        font-size: 75%;
        @media screen and (min-width: 500px){
            width: 400px;
            float: left;
        }
    }

    .registro__olvide{
        font-size: 70%;
        @media screen and (min-width: 500px){
            width: 400px;
            float: right;
        }
    }

    &__crear {
        margin-top: auto;
        margin-bottom: 2px; 
        
        @media screen and (min-width: 500px){
            width: 400px;
            float: right;
        }
    }

    ion-grid{
        margin-top: 2px;
        padding: 1px !important;
    }
    ion-col{
        padding: 1px !important;
    }
}

.registro_form {
    @media screen and (min-width: 500px){
        text-align: left;
    }
}