<div class="registro">
    <img class="login__imagen" src="../../assets/logo_nutrischool.png" alt="">
    <h5>Datos del Usuario</h5>

    <form class="registro_form" [formGroup]="registroForm" (ngSubmit)="createUser()" #formDir="ngForm">
        
        <ion-item class="registro__input">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'nombre') && formDir.submitted" class="alert alert-danger">
          Se requiere nombre.
        </div>
        
        <ion-item class="registro__input">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input [(ngModel)]="apellido" type="text" formControlName="apellido"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'apellido') && formDir.submitted">
          Se requiere apellido.
        </div>
        
        <ion-item class="registro__input">
            <ion-label position="floating">Género</ion-label>
            <ion-select [(ngModel)]="sexo" formControlName="sexo">
                <ion-select-option value="F">Femenino</ion-select-option>
                <ion-select-option value="M">Masculino</ion-select-option>
            </ion-select>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'sexo') && formDir.submitted">
          Se requiere sexo.
        </div>

        <ion-item class="registro__input">
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-datetime (change)="cambioFecha($event)" displayFormat="YYYY-MM-DD" [(ngModel)]="fecha" value="1990-01-01" formControlName="fecha"></ion-datetime>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'fecha') && formDir.submitted">
          Se requiere fecha.
        </div>
        <div *ngIf="registroForm.hasError('invalidDate', 'fecha') && formDir.submitted">
          Se requiere que sea mayor de edad.
        </div>

        <ion-item class="registro__input">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="idUsuario" type="text" formControlName="idUsuario"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'idUsuario') && formDir.submitted">
          Se requiere un nombre de Usuario.
        </div>

        <ion-item class="registro__input">
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="mail" type="email" email="true" formControlName="mail"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'mail') && formDir.submitted">
          Se requiere email.
        </div>
        <div *ngIf="registroForm.hasError('pattern', 'mail') && formDir.submitted">
            El mail debe tener este formato: ejemplo@mail.com.
        </div>

        <ion-item class="registro__input">
            <ion-label position="floating">Contrase&ntilde;a</ion-label>
            <ion-input [(ngModel)]="password" type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'password') && formDir.submitted">
          Se requiere contraseña.
        </div>

        <ion-list>
            <ion-radio-group [(ngModel)]="rol" formControlName="rol">
                <ion-list-header>
                    <ion-label>Me quiero registrar como:</ion-label>
                </ion-list-header>
        
                <ion-item>
                    <ion-label>Profesor</ion-label>
                    <ion-radio slot="start" value=3 ></ion-radio>
                </ion-item>
        
                <ion-item>
                    <ion-label>Usuario</ion-label>
                    <ion-radio slot="start" value=2 [checked]="true"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        <div *ngIf="registroForm.hasError('required', 'rol') && formDir.submitted">
          Se requiere precisar rol.
        </div>

        <!--ion-button type="submit" color="success" fill="solid" class="registro__crear" expand="block">Crear</ion-button-->
        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button type="submit" color="success" fill="solid" class="registro__crear" expand="full">Crear Usuario</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                  <ion-button (click)="volver()" color="light" fill="solid" class="registro__volver" expand="block">Volver</ion-button>
              </ion-col>
              <ion-col size="6">
                  <ion-button (click)="navigateContrasena()" color="light" fill="solid" class="registro__olvide" expand="block">Olvid&eacute; mi contrase&ntilde;a</ion-button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</div>
