<h1 mat-dialog-title style="text-align: center;">Agregar ejercicio</h1>
<div mat-dialog-content>
    <!--p style="text-align: center;">Ingresar el nombre del ejercicio</p-->
    <form class="example-form">
        <mat-form-field class="full-width" style="width: 100%;">
            <input type="text" placeholder="Ejercicio" aria-label="Number" matInput [formControl]="ejercicioForm" [matAutocomplete]="auto" autofocus>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option class="autocomplete-textbox" (click)="selectEjercicio(option)" *ngFor="let option of filteredOptions | async" [value]="option.descripcion">
                    {{option.descripcion}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <p *ngIf="invalidNameForm" class="text-danger">Recuerde completar todos los campos.</p>
        <mat-form-field class="full-width" *ngIf="!ejercicio.aerobico && ejercicio.aerobico != undefined">
            <input [formControl]="pesoForm" type="number" placeholder="Peso (en Kilogramos)" aria-label="Number" matInput>
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="!ejercicio.aerobico  && ejercicio.aerobico != undefined">
            <input [formControl]="seriesForm" type="number" placeholder="Series" aria-label="Number" matInput>
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="!ejercicio.aerobico  && ejercicio.aerobico != undefined">
            <input [formControl]="repeticionesForm" type="number" placeholder="Repeticiones" aria-label="Number" matInput>
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="ejercicio.aerobico  && ejercicio.aerobico != undefined">
            <input [formControl]="duracionForm" type="number" placeholder="Duración (en Minutos)" aria-label="Number" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button (click)="onNoClick()" color="success" fill="solid" expand="block">Cancelar</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="agregar()" color="success" fill="solid" expand="block">Agregar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
