.registro {
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 10px;

    .registro__input {
        margin-bottom: 5px;
    }

    ion-grid{
        margin-top: 20px;
        padding: 1px !important;
    }
    ion-col{
        padding: 1px !important;
    }
}