<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="registro">
    <form [formGroup]="registroForm" (ngSubmit)="actualizarDatos()" #formDir="ngForm">
        
        <ion-item class="registro__input">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'nombre') && formDir.submitted" class="alert alert-danger">
          Se requiere nombre.
        </div>
        
        <ion-item class="registro__input">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input [(ngModel)]="apellido" type="text" formControlName="apellido"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'apellido') && formDir.submitted">
          Se requiere apellido.
        </div>
        <ion-item class="registro__input">
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fecha" value="1990-01-01" formControlName="fecha"></ion-datetime>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'fecha') && formDir.submitted">
          Se requiere fecha.
        </div>
        <div *ngIf="registroForm.hasError('invalidDate', 'fecha') && formDir.submitted">
          Se requiere que sea mayor de edad.
        </div>

        <ion-item class="registro__input">
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="mail" type="email" email="true" formControlName="mail"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.hasError('required', 'mail') && formDir.submitted">
          Se requiere email.
        </div>
        <div *ngIf="registroForm.hasError('pattern', 'mail') && formDir.submitted">
            El mail debe tener este formato: ejemplo@mail.com.
        </div>
        <!--ion-button type="submit" color="success" fill="solid" class="registro__crear" expand="block">Crear</ion-button-->
        <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button (click)="volver()" color="success" fill="solid" class="registro__volver" expand="block">Volver</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button type="submit" color="success" fill="solid" class="registro__crear" expand="block">Guardar</ion-button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </form>
  </div>
</ion-content>