<div class="login">
  <img class="login__imagen" src="../../assets/logo_nutrischool.png" alt="">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-item class="login__input">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="idUsuario" type="text" formControlName="idUsuario"></ion-input>
  </ion-item>
  
  <ion-item class="login__input ">
    <ion-label position="floating">Contrase&ntilde;a</ion-label>
    <ion-input [(ngModel)]="password" type="password" formControlName="password"></ion-input>
  </ion-item>
  <div class="login__olvide">
    <span (click)="forgotPassword()">Olvid&eacute; mi contrase&ntilde;a   |   Restablecer Cuenta </span>
  </div>

  <ion-button fill="outline" class="login__ingresar" [disabled]="!loginForm.valid" (click)="login()" expand="block">Ingresar</ion-button>
  </form>

  <div class="login__registro">
    <div class="md-3">
      <p class="login__registro--nuevo">&iquest;Sos nuevo?
        <span class="login__registro--crear" (click)="createUser()">
          Crear cuenta
        </span>
      </p>
    </div>
    <div class="md-3">
    </div>
      
    </div>

    <!-- <mat-video [autoplay]="true" [fullscreen]="false" [loop]="true" src="../../assets/ejercicios/1.mp4"></mat-video> -->

</div>
