.login {
    min-height: 100vh;
    background-image: url("../../assets/fondo2.jpg");
    text-align: center;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 500px){
        background-image: url("../../assets/fondo3.jpg");
    }

    & form {
        @media screen and (min-width: 500px){
            width: 50%;
            margin-right: 50%;
            padding: 0 25px;
            min-height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;        
        }
    }

    &__ingresar {
        margin: 20px 10px;
        height: 40px;
        
        & button {
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 1000;            
        }
    }

    & img {
        max-width: 90%;
        margin: 25px 0;

        @media screen and (min-width: 500px){
            max-width: 300px;
            margin-right: 50%;
        }
    }

    &__input {
        margin: 10px;
        --background: transparent;
        color: white;

        & .item-native {
            background: transparent !important;
        }
    }

    &__registro {
        //display: flex;
        align-items: center;
        margin-top: 15px;
        justify-content: space-around;
        padding: 0 25px;
        width: 100%;
        position: absolute;
        margin: auto;
        font-weight: bold;

        @media screen and (min-width: 500px){
            margin-right: 50%;
            width: 50%;
        }

        &--nuevo {
            color: #fff;
            cursor: pointer;
        }

        &--crear {
            color: #ff9131;
            //color: rgb(253, 198, 15);
            margin-left: 15px;
            cursor: pointer;
        }
    }

    
    &__olvide {
        text-align: left;
        padding: 0 16px;
        color: #fff;
        font-weight: bold;
        margin-top: 15px;
        cursor: pointer;
    }
}
