  <ion-header>
    <ion-toolbar>
        <ion-title *ngIf="esMasculino()">Bienvenido, {{user.nombre}}</ion-title>
        <ion-title *ngIf="!esMasculino()">Bienvenida, {{user.nombre}}</ion-title>
        <ion-buttons slot="start">
          <ion-title>
            <ion-menu-button autoHide="true"></ion-menu-button>
          </ion-title>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div class="dashboard">
     
      <ion-card routerLink="/md/tabs" class="dashboard__card nutricional">
        <ion-item>
          <i ion-icon class="fas fa-dumbbell"></i>
          <ion-label>Entrenamiento</ion-label>
          <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>
     
        <ion-card-content>
          Aquí podrá gestionar y conocer el estado de sus planes de entrenamiento.
        </ion-card-content>
      </ion-card>
  
      <ion-card *ngIf="esCliente()" routerLink="/mn/tabs" class="dashboard__card deportivo">
        <ion-item>
          <ion-icon ios="ios-nutrition" md="md-nutrition" ></ion-icon>
          <ion-label>Nutrici&oacute;n</ion-label>
          <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>
      
        <ion-card-content>
            Aquí podrá gestionar y conocer el estado de sus planes de alimentación.
        </ion-card-content>
      </ion-card>
  
      <ion-card routerLink="/estadisticas" class="dashboard__card estadistico">
        <ion-item>
          <ion-icon ios="ios-stats" md="md-stats" ></ion-icon>
          <ion-label>Estad&iacute;sticas</ion-label>
          <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>
      
        <ion-card-content>
          Aquí podrá visualizar y conocer su desempeño nutricional y deportivo.
        </ion-card-content>
      </ion-card>
  
    </div>
  </ion-content>
