@import '../../../global.scss';

.fa-dumbbell {
    margin: 12px 32px 12px 0;
}

ion-icon, .fa-dumbbell {
    color: $color-principal;
    margin: 12px 15px 12px 0;
}

ion-title{
    color: $color-principal;
    padding: 5px;
}

ion-menu-button{
    color: $color-principal;
}