<h1 mat-dialog-title>Agregar ejercicio al plan: </h1>
<div mat-dialog-content>
    <p>Ingresa el nombre del ejercicio</p>
    <form class="example-form">
        <mat-form-field class="full-width" style="width: 100%;">
            <input type="text" placeholder="Elige uno" aria-label="Number" matInput [formControl]="ejercicioForm" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option (click)="selectEjercicio(option)" *ngFor="let option of filteredOptions | async" [value]="option.descripcion">
                    {{option.descripcion}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="agregar()" [mat-dialog-close]="ejercicio" cdkFocusInitial>Agregar</button>
</div>
