<h1 mat-dialog-title style="text-align: center;"> Alta Profesor </h1>
<div mat-dialog-content>
    <!-- p>Ingresa el usuario del profesor:</p-->
    <form class="example-form">
        <mat-form-field class="full-width" style="width: 100%;">
            <input type="text" placeholder="Usuario del Profesor" aria-label="Number" matInput [formControl]="profesorForm" [matAutocomplete]="auto" autofocus>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option (click)="selectProfesor(option)" *ngFor="let option of filteredOptions | async" [value]="option.usuarioId">
                  {{option.nombre}} {{option.apellido}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<p *ngIf="mostrarError" class="alert-danger">Seleccione un usuario válido</p>
<div mat-dialog-actions>
        <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-button (click)="onNoClick()" color="success" fill="solid" expand="block">Cancelar</ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button (click)="agregar()" color="success" fill="solid" expand="block">Agregar</ion-button>
                    </ion-col>
                </ion-row>
        </ion-grid>
</div>
