<div class="diario" *ngIf="dataLoaded">
  <button *ngIf="!planActual.menuesPlanDia.length" (click)="crearNuevoPlan()" color="primary" class="diario__opciones agregar" mat-raised-button>
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
    Crear nuevo plan
  </button>

  <button *ngIf="!planActual.menuesPlanDia.length" (click)="redireccionarAPestana(2)" class="diario__opciones lista" mat-raised-button>
    <ion-icon ios="ios-list" md="md-list"></ion-icon>
    Ver mis planes
  </button>
  <div class="comidas-dia" *ngIf="planActual.menuesPlanDia.length">
    <div *ngFor="let menu of planActual.menuesPlanDia">
      <!-- <app-mn-comida-card [datosPlan]="datosPlan" [menu]="menu"></app-mn-comida-card> -->
      <app-mn-comida-card [menu]="menu"></app-mn-comida-card>
    </div>
  </div>
</div>
  
