<div style="display: block;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header">
            <!-- <div class="icon-box">
              <i class="material-icons"></i>
            </div> -->
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cerrar()">×</button>
          </div>
      <div class="modal-body text-center">
        <h4 style="font-size: 27px;">Aviso</h4>
        <p>{{ message }}</p>
        <button class="btn btn-success" data-dismiss="modal" (click)="cerrar()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
