<p style="font-size: 18px;font-weight: bold; text-align: center;">Solicitudes pendientes</p>
<h6 *ngIf="!solicitudes.length" style="text-align: center;">No posee solicitudes pendientes.</h6>
<div *ngIf="solicitudes && solicitudes.length">
  <mat-list>
    <mat-list-item *ngFor="let solicitud of solicitudes" style="margin-bottom: 25px;">
      <mat-card style="width: 100%;padding:10px;">
        <h5>{{solicitud.cliente.nombre}} {{solicitud.cliente.apellido}}
          <mat-icon matListIcon class="circlebutton accept" (click)="aceptarSolicitud(solicitud)">done</mat-icon>
          <mat-icon matListIcon class="circlebutton decline" (click)="rechazarSolicitud(solicitud)">clear</mat-icon> 
        </h5>      
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
<p style="font-size: 18px;font-weight: bold; text-align: center; margin-top: 15px;">Alumnos</p>
<h6 *ngIf="!alumnos.length" style="text-align: center;">No posee alumnos activos.</h6>
<div *ngIf="alumnos">
  <mat-list>
    <mat-list-item *ngFor="let alumno of alumnos">
      <!--mat-icon matListIcon>person</mat-icon-->
      <ion-icon  mat-list-icon ios="ios-person" md="md-person"></ion-icon>
      <p mat-line style="margin-left: 5px;">{{alumno.nombre}} {{alumno.apellido}}</p>
      <mat-icon [matMenuTriggerFor]="belowMenu">
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </mat-icon>
      <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="gotoUserInfo(alumno)">Información</button>
          <button mat-menu-item (click)="asignarPlanAlumno(alumno)">Asignar Plan</button>
          <button mat-menu-item (click)="verEstadisticas(alumno)">Ver Estadísticas</button>
          <button mat-menu-item (click)="eliminar(alumno)">Eliminar</button>
      </mat-menu>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<!--h5 *ngIf="!alumnos" style="text-align: center;">No posees alumnos activos.</h5-->
