.circlebutton {
    border: solid;
    border-radius: 24px;
    padding: 2px;
    float: right;
    margin-left: 18px;
    
    &.accept {
        color: green;
    }

    &.decline {
        color: red;
    }
}
