<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Asignar Plan a Alumno</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="dataLoaded">
    <div class="container" *ngIf="planesActivos.length">
      <p>Asignar a <strong>{{alumno.nombre}}</strong>:</p>
      <mat-list>
        <mat-list-item (click)="asignarPlanAlumno(plan)" *ngFor="let plan of planesActivos"> 
        <mat-icon mat-list-icon>
            <ion-icon name="md-football"></ion-icon>
        </mat-icon>
          {{plan.planDeportivo.descripcion}}
        <mat-divider></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div *ngIf="!planesActivos.length">
      <p style="padding:15px; text-align: center;">No posees planes creados. <br> Podés hacerlo desde la pantalla <strong>'Plan Actual'</strong></p>
    </div>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="volver()" color="success" fill="solid" class="registro__volver" expand="full">Volver</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
