@import '../global.scss';

.my-custom-menu {
    --width: 320px;
    margin-top: 58px;
  }

  ion-icon{
    color: $color-principal;
  }

  .cerrar-sesion {
    color: #f57c00;
    margin: 0;
    margin-left: 15px;
  }
  
  $colors: (
	  prueba:  #f57c00,
  );