<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1" class="my-custom-menu" swipeGesture="false">
        <ion-content>
            <ion-list>
              <ion-item (click)="toggleMenu()" routerLink="/dashboard"><ion-icon ios="ios-home" md="md-home"></ion-icon> &nbsp;&nbsp;Dashboard</ion-item>
              <ion-item (click)="toggleMenu()" routerLink="/md/tabs"><ion-icon ios="ios-football" md="md-football"></ion-icon> &nbsp;&nbsp;Entrenamiento</ion-item>
              <ion-item (click)="toggleMenu()" routerLink="/mn/tabs" *ngIf="esCliente()"><ion-icon ios="ios-nutrition" md="md-nutrition"></ion-icon>&nbsp;&nbsp;Nutrici&oacute;n</ion-item>
              <ion-item (click)="toggleMenu()" routerLink="/estadisticas"><ion-icon ios="ios-stats" md="md-stats"></ion-icon>&nbsp;&nbsp;Estad&iacute;sticas</ion-item>
              <ion-item (click)="toggleMenu()" routerLink="/condicionesIniciales/nutricionales" *ngIf="esCliente()"><ion-icon ios="ios-information" md="md-information"></ion-icon>&nbsp;&nbsp;Condiciones de la Persona</ion-item>
              <ion-item (click)="toggleMenu()" routerLink="/sugerencias" *ngIf="esCliente()"><ion-icon ios="ios-information" md="md-information"></ion-icon>&nbsp;&nbsp;Sugerencias</ion-item>
              <ion-item (click)="toggleMenu()" routerLink="/datosPersonales"><ion-icon ios="ios-information" md="md-information"></ion-icon>&nbsp;&nbsp;Datos Personales</ion-item>
            </ion-list>
          </ion-content>
              <ion-footer>
                <ion-toolbar (click)="cerrarSesion()" color="prueba">
                  <ion-title>
                    <ion-item (click)="toggleMenu()">
                        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
                        <p class="cerrar-sesion">&nbsp;Cerrar sesi&oacute;n</p>
                    </ion-item>
                  </ion-title>
                </ion-toolbar>
              </ion-footer>
      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
