<div class="restablecer">
    <img class="restablecer__imagen" src="../../assets/logo_nutrischool.png" alt="">

    <form class="restablecer_form" [formGroup]="restablecerPassForm" (ngSubmit)="resetPassword()" #formDir="ngForm">
    <p class="restablecer__descripcion">
      Si deseas restablecer tu contrase&ntilde;a, completa los siguientes datos:
    </p>
        <ion-item class="restablecer__input">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" [(ngModel)]="mail" formControlName="mail"></ion-input>
        </ion-item>
        <div *ngIf="restablecerPassForm.hasError('required', 'mail') && formDir.submitted">
            Se requiere la dirección de mail.
        </div>
        <div *ngIf="restablecerPassForm.hasError('pattern', 'mail') && formDir.submitted">
            El mail debe tener este formato: 'example@mail.com'
        </div>
        
        <ion-item class="restablecer__input">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="userId" formControlName="userId"></ion-input>
        </ion-item>
        <div *ngIf="restablecerPassForm.hasError('required', 'userId') && formDir.submitted">
            Se requiere el nombre de usuario.
        </div>

        <ion-item class="restablecer__input">
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="passwordNueva" formControlName="passwordNueva"></ion-input>
        </ion-item>
        <div *ngIf="restablecerPassForm.hasError('required', 'passwordNueva') && formDir.submitted">
          Se requiere ingresar la nueva contraseña.
        </div>
        
        <ion-grid>
                <ion-row>
                        <ion-col size="6">
                                <ion-button (click)="volver()" color="success" fill="solid" class="restablecer__confirmar" expand="block">Volver</ion-button>
                        </ion-col>
                        <ion-col size="6">
                                <ion-button type="submit" color="success" fill="solid" class="restablecer__confirmar" expand="block">Restablecer</ion-button>
                        </ion-col>
                </ion-row>
        </ion-grid>
    </form>
</div>
