.restablecer {
    text-align: center;
    padding: 5px;
    background-color: #f5f5f5;
    padding-bottom: 20px;
    min-height: 100vh;

    & img {
        max-width: 90%;
        margin: 25px 0;

        @media screen and (min-width: 500px){
            max-width: 250px;
        }
    }

    &__descripcion {
        text-align: left;
        padding: 0 30px;
    }

    &__confirmar {
        margin-top: 25px;
        margin:auto;
        width: 88%;
    }
    
    &__input {
        margin-bottom: 10px;
        justify-content: space-around;
        padding: 0 25px;
        width: 100%;
        height: 15%;

        @media screen and (min-width: 500px){
            width: calc(50% - 20px);
            display: inline-block;
            margin-right: 20px;
        }

        & .item-native {
            width: 100%;
            background: transparent !important;
        }
    }
}

.restablecer_form {
    text-align: left;
}