<div class="mi-plan" *ngFor="let plan of planesActivos">
  <div (click)="toggleVisible(plan)" class="plan-desplegable">
      <i class="material-icons" [ngClass]="{ desplegado : plan.visible}">keyboard_arrow_right</i>
      <h5>{{ plan.planDeportivo.descripcion }}</h5>
  </div>
  <div [ngClass]="{ desplegado : plan.visible}" class="dia entrenamiento" *ngFor="let entrenamiento of plan.planDeportivo.entrenamientos">
    <app-md-entrenamiento-card *ngIf="entrenamiento.ejercicios.length > 0" [entrenamiento]="entrenamiento"></app-md-entrenamiento-card>
  </div>
</div>
<div class="sin-planes" *ngIf="planesActivos.length == 0" style="text-align: center;">
  <h5 *ngIf="esCliente()">A&uacute;n no tenés planes activos. Cre&aacute; uno y empezá con tu actividad f&iacute;sica ahora!</h5>
  <h5 *ngIf="!esCliente()">A&uacute;n no tenés planes activos. Cre&aacute; uno ahora!</h5>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="crearNuevoPlan()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>