@import '../../moduloNutricional/mn-mi-plan/mn-mi-plan.component.scss';

.mi-plan {
    @media screen and (min-width: 500px){
        display: inline-block;
    }
    //min-height: calc(100vh - 105px);

    & .plan-desplegable {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;

        i {
            transition: 0.25s;

            &.desplegado {
                transform: rotate(90deg);
            }
        }

        h5 {
            margin: 0;
        }
    }

    & .entrenamiento {
        display: none;
        padding: 0 10px;
        border-left: 1px solid #aaa;

        &.desplegado {
            display: block;
        }
    }
}
.sin-planes{
    @media screen and (min-width: 500px){
        width: 100%;
    }
    
    h5{
        text-align: center;
    }
}