<mat-card class="comida-card" [ngClass]="{ aceptado : menu.confirmado}">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <ion-icon class="comida-card__icon" ios="ios-restaurant" md="md-restaurant"></ion-icon>
        </div>
        <mat-card-title>{{ menu.nombre }}</mat-card-title>
        <!-- <ion-icon class="check" ios="ios-checkmark" md="md-checkmark"></ion-icon> -->
        <!-- <i (click)="editarMenu(menu)" [ngClass]="{ visible : menuConfirmado}" class="material-icons edit">edit</i> -->
        <ion-icon class="close" ios="ios-close" md="md-close"></ion-icon>
    </mat-card-header>
    <mat-list class="menuConfirmado" *ngIf="menu.confirmado">
        <mat-list-item class="confirmado" *ngFor="let alimento of menu.alimentos">
            <p>{{ alimento.alimento.nombre }}&nbsp;</p>
            <!--h6>{{ alimento.alimento.nombre }}&nbsp;</h6-->
            <div>
                <p *ngIf="alimento.cantidad > 1">
                    ({{ alimento.cantidad }} porciones)
                </p>
                <p *ngIf="alimento.cantidad < 2">
                    ({{ alimento.cantidad }} porci&oacute;n)
                </p>
            </div>
        </mat-list-item>
    </mat-list>
    <mat-card-content class="comida-card__contenido">
        <h3 class="comida-card__contenido vacia" matLine *ngIf="menu.alimentos.length == 0">No tiene alimentos en este men&uacute;</h3>
        <mat-list>
            <mat-list-item *ngFor="let alimento of menu.alimentos, let i = index">
                <h3 matLine>{{ alimento.alimento.nombre }}</h3>
                <p matLine>{{ alimento.alimento.descripcion }}</p>
                <p matLine *ngIf="alimento.cantidad > 1">
                    ({{ alimento.cantidad }} porciones)
                </p>
                <p matLine *ngIf="alimento.cantidad < 2">
                    ({{ alimento.cantidad }} porci&oacute;n)
                </p>
                <ion-icon (click)="borrarAlimento(i)" class="comida-card__contenido borrar" ios="ios-close" md="md-close"></ion-icon>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions class="comida-card__actions">
        <p class="pregunta">¿Cumpliste con el menú?</p>
        <div class="button">
            <button mat-button>
                <ion-icon (click)="agregarAlimento()" class="add" ios="ios-add" md="md-add"></ion-icon>
            </button>
            <button mat-button>
                <ion-icon (click)="confirmarMenu(menu)" class="check" ios="ios-checkmark" md="md-checkmark"></ion-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>
