@import "~global.scss";

.comida-card {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #bbb;

    @media screen and (min-width: 500px){
        display: inline-block;
        margin-right: 25px;
        min-width: 330px;
    }

    & .mat-card-title {
        font-size: 18px;
    }

    & .menuConfirmado {
        text-align: left;

        .confirmado {
            margin: 1px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    &__icon {
        font-size: 25px;
    }

    & mat-card-header .check,  & mat-card-header .close, & mat-card-header .add{
        display: none;
    }

    mat-card-header .edit {
        font-size: 22px;
        display: none;

        &.visible {
            position: absolute;
            right: 25px;
            font-size: 25px;
            display: block;
        }
    }

    &__actions {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & ion-icon, & i {
            font-size: 28px;

            &.close {
                color: $color_aceptar;
            }

            &.add {
                color: $color_principal;
            }
    
            &.check {
                color: $color_aceptar;
            }
        }

        & button {
            min-width: 30px;
            padding: 0 10px;
        }

        & .pregunta {
            margin-left: 10px;
        }
    }

    &__contenido {
        text-align: left;

        &.vacia {
            font-size: 17px;
            margin: 15px;
        }

        &.borrar {
            font-size: 22px;
        }
    }

    &.aceptado {
        background-color: #ccff90;
        color: #1b5e20;
        border: 1px solid #1b5e20;

        & .comida-card__contenido, .comida-card__actions {
            display: none;
        }

        & mat-card-header .check {
            position: absolute;
            right: 25px;
            font-size: 25px;
            display: block;
        }
    }

    &.cancelado {
        color: #7f0000;
        border: 1px solid #7f0000;
        background-color: #ef9a9a;

        & .comida-card__contenido, .comida-card__actions {
            display: none;
        }

        & mat-card-header .close, & mat-card-header .add {
            position: absolute;
            right: 25px;
            font-size: 25px;
            display: block;
        }
    }
}