<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Nuevo Plan Deportivo</ion-title>
    </ion-toolbar>
</ion-header>

<form name="nuevoPlanForm" class="plan-manual">
    <h5>Nombre:</h5>
    <ion-item class="login__input">
        <ion-label position="floating">Ingres&aacute; un nombre para tu plan</ion-label>
        <ion-input [(ngModel)]="planDeportivo.descripcion" name="nombrePlan" type="text"></ion-input>
    </ion-item>
    <p *ngIf="invalidNameForm" class="text-danger">Ingrese un nombre para el plan</p>

    <div class="entrenamientos">
        <h5>Entrenamientos</h5>
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <i class="material-icons" (click)="nuevoEntrenamiento()">add</i>
        </button>
    </div>

    <div class="nuevo-entrenamiento" *ngFor="let entrenamiento of planDeportivo.entrenamientos, let i = index">
        <div class="nombre">
            <mat-form-field class="entrenamiento-nombre">
                <input matInput [(ngModel)]="entrenamiento.nombreEntrenamiento" name="nombre{{i}}"
                    placeholder="Nombre del entrenamiento" value="">
            </mat-form-field>
            <ion-icon (click)="planDeportivo.entrenamientos.splice(i, 1)" class="borrar" ios="ios-close" md="md-close"></ion-icon>
        </div>
        <ion-grid>
                <ion-row>
                        <ion-col size="6"></ion-col>
                        <ion-col size="6">
                          <ion-button (click)="agregarEjercicio(entrenamiento)" color="success" fill="solid" expand="block">Agregar Ejercicio</ion-button>
                        </ion-col>
                </ion-row>
        </ion-grid>
        <ion-item *ngFor="let ejercicio of entrenamiento.ejercicios, let j = index" class="nuevo-entrenamiento__ejercicios">
            <div class="accion">
                <ion-icon (click)="entrenamiento.ejercicios.splice(j, 1)" class="borrar ejercicio" ios="ios-close" md="md-close"></ion-icon>
            </div>
            <div class="ejercicio">
                <p>{{ ejercicio.descripcion }}</p>
                <span *ngIf="!ejercicio.aerobico  && ejercicio.aerobico != undefined">
                    Series | Repeticiones | Peso = {{ ejercicio.series }} | {{ ejercicio.repeticiones }} | {{ ejercicio.peso }}
                </span>
                <span *ngIf="ejercicio.aerobico  && ejercicio.aerobico != undefined">
                    Duraci&oacute;n: {{ ejercicio.duracion }}
                </span>
            </div>
        </ion-item>
    </div>
    <ion-grid>
    <ion-row>
            <ion-col size="6">
              <ion-button (click)="cancelar()" color="success" fill="solid" class="condiciones__confirmar" expand="block">Cancelar</ion-button>
            </ion-col>
            <ion-col >
              <ion-button (click)="crearPlan()" color="success" fill="solid" class="condiciones__confirmar" expand="block">Crear Plan</ion-button>
            </ion-col>
          </ion-row>
    </ion-grid>
</form>
