@import '../../../../global.scss';

.plan-manual {
    min-height: 100vh;
    padding: 25px 15px;
    overflow: scroll;
    padding-bottom: 60px;

    & .entrenamientos { 
        display: flex;
        align-items: center;
        margin-top: 20px;

        h5 {
            margin: 0;
        }

        ion-icon {
            font-size: 24px;
            margin-left: 15px;
            margin-top: 2px;
        }
    }

    & .entrenamiento-nombre {
        width: calc(100% - 30px);
        margin: 0 15px;
    }

    & .agregar-ejercicio {
        padding: 10px 20px;
        float: right;
        margin-right: 15px;
    }

    & .nuevo-entrenamiento {
        overflow: hidden;
        padding-bottom: 10px;
        
        & .nombre {
            display: flex;
            align-items: center;

            & .borrar {
                font-size: 22px;
            }
        }

        &__ejercicios {
            width: 100%;
            padding: 10px 0;

            & .ejercicio{
                p {
                    margin: 0;
                    font-weight: bold;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }

    .actions {
        float: right;

        & .crear {
            margin-left: 15px;
        }
    }

    & .borrar.ejercicio {
        font-size: 20px;
        margin-right: 15px;
    }
}