<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Nuevo Plan Deportivo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="autogenerado">
  <h5 class="header">¿Qué tipo de entrenamiento deseas realizar?</h5>
  <div style="align-content: center; align-items: center;">
  <mat-select (selectionChange)="cambiarCondicion($event.value)" [(ngModel)]="condicionSeleccionada" class="mat-select">
    <mat-option *ngFor="let condicion of condiciones" [value]="condicion">{{condicion.descripcion}}</mat-option>
  </mat-select>
  </div>
  <h5 *ngIf="planes.length" class="header">Planes que pueden interesarte:</h5>
  <mat-list *ngFor="let plan of planes">
    <mat-list-item>
      <mat-icon mat-list-icon>
        <i ion-icon class="fas fa-dumbbell"></i>
      </mat-icon>
      <h4 mat-line>{{plan.descripcion}}</h4>
      <mat-icon [matMenuTriggerFor]="belowMenu">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </mat-icon>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button *ngIf="esCliente()"  mat-menu-item (click)="activar(plan)">Crear plan</button>
        <button mat-menu-item (click)="verDetalle(plan)">Ver detalle</button>                    
      </mat-menu>
    </mat-list-item>
  </mat-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="volver()" color="success" fill="solid" class="registro__volver" expand="full">Volver</ion-button>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
