@import '../../../../global.scss' ;

.autogenerado {
    padding: 15px;

    & h2 {
        font-size: 20px;
        margin: 0;
    }

    & .header {
        padding: 15px;
        text-align: center;
    }

    & .icon {
        color: $color-principal;
        font-size: 20px;
        margin-right: 20px;
    }

    & .mat-icon {
        display: flex !important;
        align-items: center !important;
        margin: 12px 5px 12px 0;
    }
}
.mat-select {
    width: 70%;
    margin-left: 15%;
    padding: 30px;
}