<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>Información del Profesor</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container">
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>person_outline</mat-icon>
            <h2 mat-line>{{profesor.nombre}} {{profesor.apellido}}</h2>
            <p mat-line class="demo-2"> Nombre </p>
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>mail_outline</mat-icon>
            <h3 mat-line>{{profesor.mail}}</h3>
            <p mat-line class="demo-2"> Mail </p>
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
        </mat-list>
    </div>
  </ion-content>