<div *ngIf="dataLoaded">
  <div class="asdasd">
      <div class="mi-plan" *ngIf="planActivo">
        <div class="dia" *ngFor="let dia of planActivo.planNutricional.dias">
          <app-mn-dia-card [dia]="dia"></app-mn-dia-card>
        </div>
      </div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="crearNuevoPlan()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </div>
  <div class="diario" *ngIf="!planActivo">
    No tienes ningún plan activo. Puedes crear uno ahora mismo!
  </div>
</div>
