<h5 style="align-self: center;">{{plan.descripcion}}</h5>
<mat-tab-group class="detalle_tabs" mat-align-tabs="center">
  <mat-tab *ngFor="let dia of plan.dias" label="{{dia.descripcion}}" >
    <div class="mi-plan__dia" *ngFor="let menu of dia.menues">
      <div *ngIf="menu.alimentos.length">
        <h5>{{menu.nombre}}</h5>
        <ul>
            <li *ngFor="let alimento of menu.alimentos">
              <h6>{{alimento.alimento.nombre}}</h6>
              <!-- <p>{{ alimento.alimento.descripcion }}</p> -->
            </li>
        </ul>
      </div>
    </div>  
    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-button (click)="close()" color="success" fill="solid" expand="block">Cerrar</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  </mat-tab>
</mat-tab-group>
