<h1 mat-dialog-title>Nuevo plan</h1>
<div mat-dialog-content class="nuevo-plan">
  <label id="example-radio-group-label">¿De qué forma desea crear su plan?</label>
  <mat-radio-group aria-labelledby="example-radio-group-label" class="nuevo-plan__options" [(ngModel)]="tipoPlanSelected">
    <mat-radio-button class="opcion" *ngFor="let plan of planes" [value]="plan">
      {{plan.tipo}}
    </mat-radio-button>
  </mat-radio-group>
  <p *ngIf="showError && !tipoPlanSelected.route" class="text-danger">Debe seleccciona una opción válida</p>
</div>
<div mat-dialog-actions>
  <ion-grid>
      <ion-row>
              <ion-col size="6">
                      <ion-button (click)="onNoClick()" color="success" fill="solid" class="crearplan__cancelar" expand="block">Cancelar</ion-button>
              </ion-col>
              <ion-col size="6">
                      <ion-button (click)="goToNewPlan(tipoPlanSelected.route)" color="success" fill="solid" class="crearplan__aceptar" expand="block">Aceptar</ion-button>
              </ion-col>
      </ion-row>
  </ion-grid>
</div>
