@import '../../../global.scss';

.nuevo-plan {
    padding: 12px 24px;

    &__options {
        & .opcion {
            display: block;
            margin: 15px 5px;
        }
    }
}

h1{
    color: $color-principal;
    text-align: center;
}