<div class="condiciones">
    <h4 class="condiciones__titulo">Para activar este m&oacute;dulo debe completar la siguiente informaci&oacute;n</h4>

    <ion-item class="condiciones__input">
        <ion-label position="floating">Altura (en cent&iacute;metros)</ion-label>
        <ion-input [(ngModel)]="altura" type="number"></ion-input>
    </ion-item>

    <ion-item class="condiciones__input">
        <ion-label position="floating">Peso (en kilogramos)</ion-label>
        <ion-input [(ngModel)]="peso" type="number"></ion-input>
    </ion-item>

    <p class="condiciones__anteriores">
        Seleccione la cantidad de cada ejercicio que realiza actualmente:
    </p>

    <div class="condiciones__ejercicio">
        <h5 class="condiciones__ejercicio--descripcion">Musculación</h5>
        <mat-list-item class="condiciones__ejercicio">
            <mat-form-field class="condiciones__ejercicio--cantidad">
                <mat-label>Cantidad</mat-label>
                <mat-select>
                    <mat-option [value]="0">Mucho</mat-option>
                    <mat-option [value]="1">Normal</mat-option>
                    <mat-option [value]="0">Poco o nada</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </div>

    <div class="condiciones__ejercicio">
        <h5 class="condiciones__ejercicio--descripcion">Resistencia Aeróbica</h5>
        <mat-list-item class="condiciones__ejercicio">
            <mat-form-field class="condiciones__ejercicio--cantidad">
                <mat-label>Cantidad</mat-label>
                <mat-select>
                    <mat-option [value]="0">Mucho</mat-option>
                    <mat-option [value]="1">Normal</mat-option>
                    <mat-option [value]="0">Poco o nada</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </div>

    <p class="condiciones__anteriores">
        Seleccione el objetivo del uso de la aplicación:
    </p>

    <div class="condiciones__ejercicio">
        <h5 class="condiciones__ejercicio--descripcion">Objetivo</h5>
        <mat-list-item class="condiciones__ejercicio">
            <mat-form-field class="condiciones__ejercicio--cantidad">
                <mat-label>Objetivo</mat-label>
                <mat-select>
                    <mat-option [value]="0">Disminucir de peso</mat-option>
                    <mat-option [value]="1">Mantener el peso</mat-option>
                    <mat-option [value]="0">Entrenamiento deportivo</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </div>

    <ion-button color="success" fill="solid" class="condiciones__confirmar" expand="block">Enviar</ion-button>
</div>