<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Información del alumno</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>person_outline</mat-icon>
        <h2 mat-line>{{alumno.nombre}} {{alumno.apellido}}</h2>
        <p mat-line class="demo-2"> Nombre </p>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>timeline</mat-icon>
        <h3 mat-line>{{alumno.peso}}</h3>
        <p mat-line class="demo-2"> Peso (Kg)</p>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>height</mat-icon>
        <h3 mat-line>{{alumno.altura}}</h3>
        <p mat-line class="demo-2"> Altura (Cm)</p>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <ng-container *ngIf="dataLoaded">
    <ng-container *ngIf="planesActivos">
      <div *ngFor="let plan of planesActivos">
        <p style="text-align: center; font-weight: bold;"> Plan activo: {{plan.planDeportivo.descripcion}} </p>
        <div *ngFor="let entrenamiento of plan.planDeportivo.entrenamientos">
          <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell> {{entrenamiento.descripcion}} </td>
          </ng-container>
          <ng-container *ngIf="entrenamiento.ejercicios.length">
            <table mat-table [dataSource]="entrenamiento.ejercicios" class="plan-actual">

              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 14px; padding-left: 5px;"> Descripción </th>
                <td mat-cell *matCellDef="let element" style="padding-left: 5px;"> {{element.ejercicio.descripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="series">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 14px;"> Series </th>
                <td mat-cell *matCellDef="let element"> {{element.series}} </td>
              </ng-container>

              <ng-container matColumnDef="repeticiones">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 14px;"> Repeticiones </th>
                <td mat-cell *matCellDef="let element"> {{element.repeticiones}} </td>
              </ng-container>

              <ng-container matColumnDef="duracion">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 14px;"> Duración </th>
                <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="head"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div *ngIf="!planesActivos">
      <p>El alumno no posee planes activos. ¿Desea asignarle uno ahora?</p>
      <button mat-button (click)="agregarPlanAlumno(alumno)">Agregar</button>
    </div>
  </ng-container>
</ion-content>
