@import '../../../global.scss';

.container {
  margin-top: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 500px){
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  } 
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 5px;
}

.mat-column-descripcion {
  width:65%;
}

.mat-column-series {
  text-align: center;
  width:5%;
}

.mat-column-repeticiones {
  text-align: center;
  width:25%;
}

.mat-column-duracion {
  text-align: center;
  width:5%;
}


ion-buttons button[icon-only].my-style-for-modal {
  margin: 0 6px;
  min-width: 36px;
}

.plan-actual {
  width: 100%;
  margin-bottom: 30px;

  .head {
    background-color:$color_principal;
    height: 40px;
  }
}
