<div class="profesores" *ngIf="profesores.length">
    <mat-list *ngFor="let profesor of profesores">
        <mat-list-item>
            <mat-icon mat-list-icon>
                <ion-icon name="fitness"></ion-icon>
            </mat-icon>
            <h4 mat-line>{{ profesor.apellido }}, {{ profesor.nombre }}</h4>
            <mat-icon [matMenuTriggerFor]="belowMenu">
                <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </mat-icon>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="gotoUserInfo(profesor)">Información</button>
                <button mat-menu-item (click)="eliminarProfesor(profesor)">Eliminar</button>
                <!-- <button mat-menu-item (click)="verDetalle(plan)">Ver detalle</button> -->
                <!-- <button mat-menu-item>Editar</button> -->
            </mat-menu>
        </mat-list-item>
      </mat-list>
</div>
<h5 *ngIf="!profesores.length" style="text-align: center;">Aún no tenés profesores asignados, podés agregar uno a través del siguiente botón.</h5>
<ion-item class="actions">
  <button mat-raised-button color="primary" (click)="abrirAgregarProfesorDialog()" class="diario__opciones agregar">
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
      Agregar Profesor
  </button>
</ion-item>
