<mat-list *ngFor="let plan of planes">
    <mat-list-item>
        <mat-icon mat-list-icon>
            <ion-icon name="nutrition"></ion-icon>
        </mat-icon>
        <h4 mat-line>{{ plan.planNutricional.descripcion }}</h4>
        <mat-icon [matMenuTriggerFor]="belowMenu">
            <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </mat-icon>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="verDetalle(plan.planNutricional)">Ver detalle</button>
            <button *ngIf="esCliente()"  mat-menu-item (click)="activar(plan)">Activar</button>
            <button *ngIf="esCliente()"  mat-menu-item (click)="desactivar(plan)">Desactivar</button>
            <button mat-menu-item (click)="eliminar(plan)">Eliminar</button>
        </mat-menu>
        <p mat-line>Fecha de creaci&oacute;n: {{ plan.fechaAlta | date : 'yyyy-MM-dd'}}</p>
        <p mat-line>Estado: {{this.estadoPlan(plan)}} </p>
    </mat-list-item>
</mat-list>
<h5 *ngIf="planes.length == 0" style="text-align: center;">
    No tienes planes en el historial. Crea uno desde la pestaña <b>'Diario'</b>.
</h5>
