/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

/** colores principales **/
$color-principal: #f57c00;
$color-fondo-claro: #ffd180;
$color-fondo-oscuro: #ffb74d;
$gris-fondo: #fafafa;
$color_aceptar:#00c853;
$color_aceptar_oscuro: #087f23;
$color_cancelar: #d50000;
$color_cancelar_oscuro: #ab000d;

html {
    font-family: 'Roboto', sans-serif;
}



// .ion-page {
//     @media screen and (max-width: 500px){
//         overflow: scroll;
//     }
// }

ion-menu-button button {
    padding: 8px;
    height: 40px;
}

.flex {
    display: flex;

    &.center {
        align-items: center;
    }

    &.around {
        justify-content: space-around;
    }

    &.between {
        justify-content: space-between;
    }
}

.modal-error-container{
    max-width: 80vw;
    
    & > .mat-dialog-container {
        padding: 0;
        overflow: hidden;
    
        & button:focus {
            outline: 0px auto transparent;
        }
    }
}

.modal-texto-simple {
    & .mat-dialog-container {
        border: 3px solid $color-principal;
        border-radius: 10px;
    }
}

.modal-detalle-plan {
    width: 95vw;
    max-width: unset !important;
    overflow: scroll;
}

.login .item-native {
    background-color: transparent;
    border-bottom: none;
}

.condiciones {
    text-align: center;
    padding: 5px;
    background-color: #f5f5f5;
    padding-bottom: 20px;
    min-height: 100vh;

    &__titulo {
        text-align: left;
        padding: 10px;
        color: #f57c00;
    }

    &__input {
        margin-bottom: 5px;
    }

    &__anteriores {
        text-align: left;
        color: #666;
        margin: 15px;
    }

    &__grid {
        text-align: left;
        padding: 0 10px;

        &--value {
            text-align: right;
        }
    }

    &__confirmar {
        margin-top: 15px;
    }
}

.mat-dialog-container .mat-card {
    box-shadow: none !important;
    border-bottom: 1px solid #ddd;

    &:last-child {
        border-bottom: 0px solid #ddd;
    }
}

.mi-plan-dia.ejercicios {
    mat-expansion-panel-header {
        background-color: $color-fondo-claro;
        color: #fff;
    }

    mat-tab-body-content {
        min-height: calc(100vh - 105px);
    }

    .mat-expansion-panel-body {
        padding-top: 15px;
    }

    mat-expansion-panel {
        margin-bottom: 15px;
    }
}

.detalle_tabs mat-tab-body {
    padding: 25px 15px;
} 

.detalle_tabs .mat-elevation-z4 {
    box-shadow: none;
}

.diario {
    padding: 10px;
    text-align: center;

    &__opciones {
        display: block;
        display: block;
        width: calc(100%);
        margin: 15px 0;
        font-size: 16px;
        padding: 10px;

        &.agregar {
            background-color: $color_principal;
        }
    }
}

ion-menu-button{
    color: $color-principal;
}

ion-title{
    color: $color-principal;
}


.mat-raised-button {
    padding: 10px 20px;
}

.mat-tab-body-content {
    min-height: calc(100vh - 105px);
    padding: 15px;
}

.full-width {
    width: 100%;
}
.autocomplete-textbox {
    font-size:14px;
    word-break: break-word;
    white-space: pre-line !important;
    line-height: 19px !important;
}
